[Desktop Entry]
Encoding=UTF-8
Name=Link to ArcoLinux Spices Application
Type=Link
URL=https://www.arcolinux.info/arcolinux-spices-application/
Icon=text-html
